<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Conocimientos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div>
    <ion-card>
      <ion-item>
        <ion-label style="text-align: center;">
          <h1>COMIL #10 ABDÓN CALDERON</h1>
          <p>Primaria(2013)</p>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label style="text-align: center;">
          <h1>COMIL #1 ELOY ALFARO</h1>
          <p>Secundaria/Bachillerato (2020)</p>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label style="text-align: center;">
          <h1>ESCUELA POLITÉCNICA NACIONAL</h1>
          <p>5° Semestre Desarrollo de Software (Cursando)</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
