.pag2 {
  background-color: #7daad0 !important;
}

.titulo {
  padding-top: 10px;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  color: black;
}

ion-card {
  background-color: #577399;
}

loadingText{
    color: black;
}