<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Información Personal </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-title class="titulo"> ¿Quien soy? </ion-title>
  <div>
    <div style="text-align: center">
      <ion-card-header>
        <ion-card style="padding: 5%;">
          <ion-row>
            <ion-col>
              <ion-img
                class="imagen"
                src="https://github.com/4lanPz/4lanPz/assets/117743495/e27e89b8-0417-4a74-a661-9c134b9c21d9"
                alt="Alan Perez"
              ></ion-img>
            </ion-col>
            <ion-col>
              <ion-card-title style="font-size: 30px"
                >Alan Perez</ion-card-title
              >
              <ion-card-subtitle
                >Estudiante Desarrollo de Software</ion-card-subtitle
              >
              <ion-card-subtitle>21 años</ion-card-subtitle>

              <ion-card-content>
                Soy tecnólogo en desarrollo de software al que le apasiona la
                tecnología, la robotica, inteligencia artificial y los
                videojuegos.
                <br />
                Estoy constante búsqueda de conocimiento que me ayude a
                conseguir mis metas.
              </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-card-header>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card style="height: auto">
            <ion-card-header>
              <ion-card-title style="text-align: center"
                >Objetivos</ion-card-title
              >
            </ion-card-header>

            <ion-card-content style="text-align: justify">
              Aspiro a crecer constantemente en todas las áreas de mi vida,
              comprometiéndome a dar lo mejor de mí en mi vida personal y
              profesional. Mi objetivo es destacar como líder inspirador,
              emprendedor audaz, empleado valioso y persona en constante
              desarrollo.
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card style="height: auto">
            <ion-card-header>
              <ion-card-title style="text-align: center"
                >Pasatiempos</ion-card-title
              >
            </ion-card-header>

            <ion-card-content style="text-align: justify">
              Me gusta sumergirme en emocionantes mundos virtuales a través de
              los videojuegos, mi amor por la música abarca todo tipo de
              géneros. Disfruto explorando conocimientos sobre la tecnología, en
              particular la inteligencia artificial, ya que me fascina las
              innovaciones que vienen a futuro.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-title class="titulo"> Conocimientos </ion-title>

  <div style="padding-bottom: 5%;">
    <ion-card>
      <ion-item>
        <ion-label>
          <h1>COMIL #10 ABDÓN CALDERON</h1>
          <p>Primaria(2013)</p>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label>
          <h1>COMIL #1 ELOY ALFARO</h1>
          <p>Secundaria/Bachillerato (2020)</p>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label>
          <h1>ESCUELA POLITÉCNICA NACIONAL</h1>
          <p>5° Semestre Desarrollo de Software (Cursando)</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
