<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="color: white"> Información Personal </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pag1">
    <ion-title class="titulo" style="font-size: 40px; font-weight: 600">
      ¿Quien soy?
    </ion-title>
    <div>
      <div style="text-align: center">
        <ion-card-header>
          <ion-card style="padding: 5%">
            <ion-row>
              <ion-col>
                <ion-img
                  class="imagen"
                  src="https://github.com/4lanPz/4lanPz/assets/117743495/e27e89b8-0417-4a74-a661-9c134b9c21d9"
                  alt="Alan Perez"
                ></ion-img>
              </ion-col>
              <ion-col>
                <ion-card-title style="font-size: 50px"
                  >Alan Perez</ion-card-title
                >
                <br />
                <ion-card-subtitle style="font-size: 20px"
                  >Estudiante Desarrollo de Software</ion-card-subtitle
                >
                <ion-card-subtitle style="font-size: 20px"
                  >21 años</ion-card-subtitle
                >

                <ion-card-content style="font-size: 16px">
                  Soy tecnólogo en desarrollo de software al que le apasiona la
                  tecnología, la robotica, inteligencia artificial y los
                  videojuegos.
                  <br />
                  Estoy constante búsqueda de conocimiento que me ayude a
                  conseguir mis metas.
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-card-header>
      </div>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card style="height: auto; padding: 5%">
              <ion-card-header>
                <ion-card-title style="text-align: center"
                  >Objetivos</ion-card-title
                >
              </ion-card-header>

              <ion-card-content style="text-align: justify; font-size: 16px">
                Aspiro a crecer constantemente en todas las áreas de mi vida,
                comprometiéndome a dar lo mejor de mí en mi vida personal y
                profesional. Mi objetivo es destacar como líder inspirador,
                emprendedor audaz, empleado valioso y persona en constante
                desarrollo.
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card style="height: auto; padding: 5%">
              <ion-card-header>
                <ion-card-title style="text-align: center"
                  >Pasatiempos</ion-card-title
                >
              </ion-card-header>

              <ion-card-content style="text-align: justify; font-size: 16px">
                Me gusta sumergirme en emocionantes mundos virtuales a través de
                los videojuegos, mi amor por la música abarca todo tipo de
                géneros. Disfruto explorando conocimientos sobre la tecnología,
                en particular la inteligencia artificial, ya que me fascina las
                innovaciones que vienen a futuro.
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ion-title class="titulo" style="font-size: 40px; font-weight: 600">
      Estudios
    </ion-title>

    <div style="padding-bottom: 5%">
      <ion-card style="padding: 20px">
        <ion-row>
          <ion-col>
            <ion-card-header>
              <ion-card-title style="text-align: center"
                >COMIL #10 ABDÓN CALDERON</ion-card-title
              >
            </ion-card-header>
            <ion-card-content
              style="text-align: justify; text-align: center; font-size: 20px"
            >
              Primaria(2013)
            </ion-card-content>
          </ion-col>

          <ion-col>
            <ion-img
              class="imagen"
              src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEglYlAvDRk4CmZxYCRoWox19nvB_DtgBMh3v2u5j_OQuyYJD6QfXvqtYJTBSfB-6jxKFVNmZAbukNpcepGZMuW03SSmZfiGxVI54hW0IFfiaQOZit2-tasM4xgcviQrltwJm7huhKlV6BvV/s1600/banda.jpg"
              alt="Comil 10"
            ></ion-img>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card style="padding: 20px">
        <ion-row>
          <ion-col>
            <ion-card-header>
              <ion-card-title style="text-align: center"
                >COMIL #1 ELOY ALFARO</ion-card-title
              >
            </ion-card-header>
            <ion-card-content
              style="text-align: justify; text-align: center; font-size: 20px"
            >
              Secundaria/Bachillerato (2020)
            </ion-card-content>
          </ion-col>

          <ion-col>
            <ion-img
              class="imagen"
              src="https://scontent.fuio1-1.fna.fbcdn.net/v/t1.6435-9/102911150_739562033447466_1510628130732113920_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFGMHbKxY_GzZsNHWOY4gCySMA5bMzRuztIwDlszNG7O8AZ6eX9F-JYpXoYWQqRz13udiCnZPZlTWhinVFVHLC4&_nc_ohc=LQaywjfPfFQQ7kNvgHuoB6O&_nc_ht=scontent.fuio1-1.fna&oh=00_AYDOZkuy62H8P_3mMKDx7_8NVgqpy-FJJcA-S5YXT_4mFA&oe=668BE108"
              alt="Comil 1"
            ></ion-img>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card style="padding: 20px">
        <ion-row>
          <ion-col>
            <ion-card-header>
              <ion-card-title style="text-align: center"
                >ESCUELA POLITÉCNICA NACIONAL</ion-card-title
              >
            </ion-card-header>
            <ion-card-content
              style="text-align: justify; text-align: center; font-size: 20px"
            >
              5° Semestre Desarrollo de Software (Cursando)
            </ion-card-content>
          </ion-col>

          <ion-col>
            <ion-img
              class="imagen"
              src="https://www.epn.edu.ec/wp-content/uploads/2014/08/100_0783.jpg"
              alt="EPN"
            ></ion-img>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>
</ion-content>
